name: Test CI
on:
  push:
    paths:
      - '**.ring'
      - '.github/workflows/testCI.yml'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      uses: ysdragon/ring-action@v1.3.3
      with:
        file: "tests/Archive_test.ring"
